language: python
python:
  - "3.5"
  - "3.5-dev" # 3.5 development branch
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script: "cd tests && nosetests"
